@import '../Colours';


.headerContainer{
    position: fixed;
    top:0;
    width: 100%;
    height: 8%;
    background-color: $navbarbackgroundcolor;
    z-index: 1;
}

.nasaLogo{
    position: fixed;
    left: 6px;
    top: 3px;
    width: 15%;

}

.pageTitle{
    position: absolute;
    width: 65%;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%)
}