.img-rover-photo-list{
    height: 100px;
    width: 100px;
    padding: 5px 11px;
}

.img-rover-restofimages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.rover-date-top-padding{
    padding: 60px 60px;
}
.rover-input-date{
    margin-left:10px;
}

.rover-link{
    margin-left:10px;
}
.bottom-page-break{
    padding-bottom: 95px;
}

.top-page-break{
    padding-top: 80px;
}
