@import "../Colours.scss";
@import "../Fonts.scss";
.RoverSelection{
    background-color: $darkbackgroundcolor;

}
@mixin roverstyle { 
    font-size: x-small;
    text-align: center;

}

.CuriosityRover{
    @include roverstyle;  
    
}
.OpportunityRover{
    @include roverstyle;   

}
.SpiritRover{
    @include roverstyle;   
    
}

.roverImage{
    border: 4px black;
    background-color:$lightbackgroundcolor;
    border-style:double;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.roverTable{
    background-color:$lightbackgroundcolor;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

tr:nth-child(even){
    background-color: $bordercolor;
}
table, th, td {
    border-collapse:collapse;
    border: 2px solid $highlightcolor;
}
.pagebreak{
    padding-bottom: 95px;
}