
$lightbackgroundcolor:#f1ccbc; //main background color
$darkbackgroundcolor: #C67B5C; //for whimsical header
$bordercolor: #e27b58; // for selected image borders etc
$highlightcolor: #663926; //for links etc
$lighttextcolor: #ece5e2; //white text
$darktextcolor: #1d1512;  //dark text