
// $lightbackgroundcolor: #FF9D6F; //main background color
// $darkbackgroundcolor: #8E6A5A; //for whimsical header
// $bordercolor: #DCDCDC; // for selected image borders etc
// $highlightcolor: #663926; //for links etc
// $lighttextcolor: #f3f3f3; //white text
// $darktextcolor: #1d1512;  //dark text
$selectedbordercolor: #f05f1ce7; 




$lightbackgroundcolor: #4a4d53 ; //main background color
$darkbackgroundcolor: #222831; //for whimsical header
$bordercolor: #dcdcdc; // for selected image borders etc
$highlightcolor: #e16428; //for links etc
$lighttextcolor: #ffffff; //white text
$darktextcolor: #FD7014;  //dark text orange
