
$lightbackgroundcolor: #FF9D6F; //main background color
$darkbackgroundcolor: #8E6A5A; //for whimsical header
$navbarbackgroundcolor: #E27B58; //navbar background
$bordercolor: #DCDCDC; // for selected image borders etc
$highlightcolor: #663926; //for links etc
$lighttextcolor: #DCDCDC; //white text
$darktextcolor: #1d1512;  //dark text