@import './Colours.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/bambi');

.bambi{
    font-family:'Bambi Bold', sans-serif;
}

h1{
  font-family: 'Bambi Bold', sans-serif;;
}
h2{
  font-family: 'Open Sans';
}
h3{font-family: 'Open Sans';
}
h4{font-family: 'Open Sans';
}
h5{
  font-family: 'Open Sans';
}
p{ 
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 200;
}
a{ 
  font-family: 'Bambi';
  color: $highlightcolor;
  size: medium;
  font-weight: 600;
  padding: 5px;
}