@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/bambi');

.bambi{
    font-family:'Bambi Bold', sans-serif;
}

h1{
  font-family: 'Bambi';
}
h2{
  font-family: 'Open Sans';
}
h3{font-family: 'Open Sans';
}
h4{font-family: 'Open Sans';
}
h5{
  font-family: 'Open Sans';
}
p{ 
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
}