
@media only screen and (max-width: 600px) {

.footerMobile{
    position: fixed;
    width: 100%;
    bottom: 0;
    
    transform: translateY(50%);
    visibility: visible;
    overflow: hidden;
    border-radius: 7px;
    
}
.footerImg{
    margin-top: -6%;
}

}

@media only screen and (min-width: 601px) {
    .footerMobile{
        visibility: hidden
    }
}
